<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
     <meta property="og:site_name" content="Room Status">
     <meta property="og:title" content="Room Status">
     <meta property="og:type" content="website">
     <meta name="description" content="The current room status">
     {% if occupied and meeting %}
     <meta property="og:image" content="{{ url_for('static', filename='grimace.png') }}">
     <link rel="shortcut icon" href="{{ url_for('static', filename='grimace.png') }}" type="image/x-icon">
     {% elif occupied %}
     <meta property="og:image" content="{{ url_for('static', filename='smile.png') }}">
     <link rel="shortcut icon" href="{{ url_for('static', filename='smile.png') }}" type="image/x-icon">
     {% else %}
     <meta property="og:image" content="{{ url_for('static', filename='sleepy.png') }}">
     <link rel="shortcut icon" href="{{ url_for('static', filename='sleepy.png') }}" type="image/x-icon">
     {% endif %}
    <title>Room Status</title>
    <link rel='stylesheet' id='bootstrap' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css' type='text/css' media='all' />
    <meta name="viewport" content="width=device-width, initial-scale=0.6666, maximum-scale=1.0, minimum-scale=0.6666">
  </head>
  {% if occupied and meeting %}
  <body class="p-5 text-center text-white" style="background-color:#ff221e;">
  	<h1 id="heading">Meeting 😬</h1>
  {% elif occupied %}
  <body class="p-5 text-center text-white" style="background-color:#33ee44;">
  	<h1 id="heading">Occupied 😁</h1>
  {% else %}
  <body class="p-5 text-center">
  	<h1 id="heading">Empty 😪</h1>
  {% endif %}
		<h1></h1>
		<h1><br></h1>
		<h1 id="time">(Updated at {{ last_updated }})</h1>
		<h1><br></h1>
		<h1><br></h1>
		<p>nating@tcd.ie</p>
    <script>

        // Pull the status from the server
        function pullStatus(){
          var xmlhttp;
          if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp = new XMLHttpRequest();
          } else { // code for IE6, IE5
              xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
          }
          xmlhttp.onreadystatechange = function() {
              if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                  updateStatus(JSON.parse(xmlhttp.responseText));
                  setTimeout(pullStatus, 5000);
              }
              else if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                  setTimeout(pullStatus, 5000);
              }
          }
          xmlhttp.open("GET", "/status", true);
          xmlhttp.send();
        }

        // Update the status on the page
        function updateStatus(status){
          body = document.getElementsByTagName('body')[0];

          // Set design for page elements depending on status
          if(status.occupied && status.meeting){
            bootstrap = "p-5 text-center text-white";
            bg = '#ff221e';
            heading = 'Meeting 😬';
            iconUrl = "{{ url_for('static', filename='grimace.png') }}";
          }
          else if(status.occupied){
            bootstrap = "p-5 text-center text-white";
            bg = "#33ee44";
            heading = 'Occupied 😁';
            iconUrl = "{{ url_for('static', filename='smile.png') }}";
          }
          else{
            bootstrap = 'p-5 text-center';
            bg = '#ffffff';
            heading = 'Empty 😪';
            iconUrl = "{{ url_for('static', filename='sleepy.png') }}";
          }

          document.getElementsByTagName('body')[0].className = bootstrap;
          document.getElementsByTagName('body')[0].style.backgroundColor = bg;
          document.getElementById('heading').innerHTML = heading;
          document.getElementById('time').innerHTML = '(Updated at '+status.last_updated+')';

          //Change the Favicon
          var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
          link.type = 'image/x-icon';
          link.rel = 'shortcut icon';
          link.href = iconUrl;
          document.getElementsByTagName('head')[0].appendChild(link);
        }

        // Initiate AJAX interval
        pullStatus();

    </script>
  </body>
</html>
